body{
    padding: 0;
    margin:0;
    height: 100vh;
}

.circle{
    position: absolute;
    width:100%;
    height: 100%;
    transition: 0.5s;
    z-index:2;
}

.circle:nth-child(1)
{
    background: url(images/jacek-dylag-545264-unsplash.jpg);
    background-attachment: fixed;
    clip-path: circle(100px at 0 0);
}

.circle:nth-child(1):hover
{
    
    clip-path: circle(1200px at 0 0);
}